* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%
}

body {
    background-color: #111;
    display: flex;
    flex-direction: column;
}

.header {
    background: #333;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 30px;
    text-align: center;
}

.header .btn-container {
    display: inline-block;
}

.header .btn-container .btn {
    background: #fff;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    height: 18px;
    text-align: center;
    vertical-align: top;
    width: 18px;
}

#vectrex-container {
    font-size: 0;
    flex: 1 0 auto;
    line-height: 0;
}
